.btn-purple {
    background-color: #9333ea;
    border: none;
}

.card-img-top {
    height: 200px !important;
    width: 200px !important;
    object-fit: fill;
}
.btn-purple:hover {
    background-color: #7e22ce;
}
.btn-purple {
    background-color: #9333ea;
    border: none;
    transition: background 0.3s ease;
  }
  
  .btn-purple:hover {
    background-color: #7e22ce;
  }
  