.video-large {
  height: 300px;
  border-radius: 8px;
}

.video-small {
  height: 100px;
  border-radius: 8px;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  margin-right: 10px;
}